body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
